
<table class="table table-condensed"> 
  <tr class='info'>
    <th class="info">
      Total Product Number:
    </th>
    <th class="info">
      <%= @products.count %>
    </th>
  </tr>
  <tr class='info'>
    <th class="info">
      Total Category Number:
    </th>
    <th class="info">
      <%= @categories.count %>
    </th>
  </tr>
</table>
<%= link_to 'Products and Categories', controller: 'products' %>